.TransBgShow {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    display: flex;
    justify-content: center;
    align-items: center;
}

.TransBgHide {
    display: none;
}


.Modal {  
    z-index: 3;
    background-color: white;
    width: 90%;
    max-width: 760px;
    border: none;
    padding: 30px;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}

@media (max-width: 600px) {
    .Modal {
        border-radius: 16px;
    }
}
