.formStyle {
    margin: 60px auto;
    width: 100%;
    max-width: 600px;
}

.formStyle input,
.formStyle select {
    display: block;
    height: 50px;
    width: 100%;
    margin: 24px auto;
    border: 1px solid #808080;
    border-radius: 6px;
    background-color: white;
    padding-left: 20px;
    outline: none;
    font-size: 20px;
}

.formStyle button {
    display: block;
    height: 60px;
    width: 100%;
    margin: 0px auto;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: #FBC193;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

.formStyle h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b;
}

.validateMsg {
    margin: 20px 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #F28076;
}
