.Checkout {
    width: 100%;
}

.warningText {
    font-size: 20px;
    font-weight: 400;
    color: #F28076;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

@media (max-width: 600px) {
    .warningText {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}